.bg-col{
	background-color: rgba(80, 175, 156, 0.7);
}

.bg-col1{
	height: 100%;
}

.logo-ugm{
	max-width: 75pt;
}

.header{
	font-size: 28px;
}

.center{
	text-align: center;
	padding-left: 0px;
	padding-right: 0px;
}

.mar-top{
	margin-top: 25px;
}

.already{
	text-align: center;
	padding-top: 10px;
}

body{
	color: white;
}

.mar-bot{
	margin-bottom: 13px;
}